#Vector and generative services - OpenAI
OPENAI_API_KEY = 
OPENAI_BASE_URL = "https://api.openai.com/v1"
OPENAI_EMBEDDINGS_URL = "https://api.openai.com/v1/embeddings"
OPENAI_GENERATION_URL = "https://api.openai.com/v1/chat/completions"

#Vector and generative services - Llama on Modal
LLAMA_ON_MODAL_SECRET_NAME = 
DSBA_LLAMA3_KEY = 
MODAL_BASE_URL = 

# Weaviate cloud deployment
WEAVIATE_URL_VERBA = 
WEAVIATE_API_KEY_VERBA = 

