# Environment variables management
python-dotenv==1.0.0

# Audio transcription
assemblyai==0.35.1

# Vector database (Weaviate client)
weaviate-client==4.7.1

# Embedding and generation services
openai==1.54.3

# Streamlit for web UI
streamlit

# PDF handling (for PDF to text conversion)
PyMuPDF

# azure portal
azure.storage.blob

# additional libraries
transformers
chardet
pytest
easyocr